@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/Imagenes/DALL·E-2024-05-09-19.44.35-A-horizontal-logo-design-for-a-gym-named-_Salud-y-Vida_.png" style="max-height: 200px" />
                        <h1 class="text-white mb-0">Acerca de Nosotros</h1>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h2>Salud y Vida</h2>
                    <p class="mb-4">
                        Nuestra aplicación, creada con dedicación e innovación, es una herramienta distintiva diseñada para transformar la forma en que las personas interactúan y comparten experiencias en espacios físicos compartidos.
                    </p>
                    <p class="mb-4">
                        Utilizando la tecnología de códigos QR, nuestra aplicación permite a los usuarios unirse sin problemas a una sala virtual cuando están en el mismo espacio físico.
                    </p>
                    <p class="mb-4">
                        Dentro de esta sala, pueden colaborar en una lista de reproducción compartida, permitiendo que cada participante contribuya con su elección de música, videos u otros contenidos multimedia. El aspecto innovador de nuestra aplicación es que esta lista de reproducción se sincroniza y reproduce en varios dispositivos simultáneamente, creando una experiencia única, colectiva y participativa. Esta aplicación no solo mejora la interacción social, sino que también agrega una dimensión colaborativa y democrática a la forma en que se consume el entretenimiento en grupos.
                    </p>
                    <p class="mb-4">
                        Además, nuestra aplicación de gimnasio ayuda a los usuarios a llevar un registro detallado de su actividad física, permitiéndoles registrar sus entrenamientos, seguimiento de progreso y establecimiento de metas. Con características como gráficos de progreso y estadísticas detalladas, nuestros usuarios pueden monitorear fácilmente su rendimiento y ver su mejora a lo largo del tiempo.
                    </p>
                    <p class="mb-4">
                        Con el enfoque en mejorar la salud y el bienestar de nuestros usuarios, nuestra aplicación de gimnasio proporciona una plataforma intuitiva y fácil de usar para que las personas mantengan un estilo de vida activo y saludable.
                    </p>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="text-center">Jose Pineda</h2>
                            <p class="text-center">
                                <img src="~/Imagenes/WhatsApp Image 2024-05-09 at 19.37.31_6d92c590.jpg" style=" max-height: 200px" />
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                Soy un entusiasta del desarrollo de software con un gran interés en aprovechar la tecnología para mejorar las interacciones sociales. Nacido y criado en Quito, Ecuador, mi trayectoria en el desarrollo de software me ha proporcionado un conjunto de habilidades completo y una mentalidad creativa para enfrentar los desafíos de la era digital.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>